<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">      
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>    
    <appender name="AREA" class="org.eljaiek.jmira.core.LogbackAppenderAdapter">
        <pattern>%d{HH:mm:ss} %-5level - %msg%n</pattern>
    </appender> 
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />   
        <appender-ref ref="AREA" />  
    </root>    
</configuration>